@model ReferPatientViewModel

@{
    var dateReferred = DateTime.Now.DayOfWeek + " " + DateTime.Now.ToString("MMMM d, yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture);
    var referringMd = "Dr. " + User.FindFirstValue(ClaimTypes.GivenName) + " " + User.FindFirstValue(ClaimTypes.Surname);
}
    <div class="modal-content" id="normal-refer">
        <!-- REFER BODY -->
        <div class="title-form">
            CENTRAL VISAYAS HEALTH REFERRAL SYSTEM
            <br />
            <small>Clinical Referral Form</small>
        </div>

        <form asp-action="Refer" method="post" id="normal-refer-form">
            <div class="modal-body">
                <input type="hidden" asp-for="Age" />
                <input type="hidden" asp-for="Sex" />
                <input type="hidden" asp-for="Name" />
                <input type="hidden" asp-for="PhicId" />
                <input type="hidden" asp-for="Address" />
                <input type="hidden" asp-for="PatientId" />
                <input type="hidden" asp-for="PhicStatus" />
                <input type="hidden" asp-for="CivilStatus" />
                <input type="hidden" asp-for="FacilityName" />
                <input type="hidden" asp-for="FacilityAddress" />
                <table class="table table-striped">
                    <tbody>
                        <!-- FACILITY NAME-->
                        <tr>
                            <td colspan="6">
                                Name of Referring Facility: <span class="text-danger">@Model.FacilityName</span>
                            </td>
                        </tr>
                        <!-- FACILITY ADDRESS -->
                        <tr>
                            <td colspan="6">
                                Address: <span class="text-success">@Model.FacilityAddress</span>
                            </td>
                        </tr>
                        <tr>
                            <!-- REFERRED TO -->
                            <td colspan="3">
                                Referred to:&nbsp;&nbsp;&nbsp;
                                <div class="" style="background-color:white !important;">
                                    <select class="form-control form-control-sm select2" id="facilityFilter" style="width:100%;" asp-for="Facility" asp-items="ViewBag.ReferredTo" onchange="FacilityOnChange($(this).val());">
                                        <option value="0">Select Facility...</option>
                                    </select>
                                </div>
                                <span class="text-danger" asp-validation-for="Facility"></span>
                            </td>
                            <!-- DEPARTMENT -->
                            <td colspan="3">
                                Department:
                                <select class="form-control form-control-sm" id="departmentFilter" asp-for="Department" onchange="DepartmentOnChange($('#facilityFilter').val(), $(this).val());">
                                    <option value="">Select Department...</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Department"></span>
                            </td>
                        </tr>
                        <!-- ADDRESS OF REFERRED HOSPITAL -->
                        <tr>
                            <td colspan="6">
                                Address:
                                <span id="facilityAddress" class="text-info"></span>
                            </td>
                        </tr>
                        <tr>
                            <!-- DATE/TIME REFERRED -->
                            <td colspan="3">
                                Date/Time Referred (ReCo):
                                <span class="text-success">@dateReferred</span>
                            </td>
                            <!-- DATE/TIME TRANSFERRED -->
                            <td colspan="3">
                                Date/Time Transferred:
                            </td>
                        </tr>
                        <tr>
                            <!-- NAME OF PATIENT -->
                            <td colspan="3">
                                Name of Patient:
                                <span class="text-danger">@Model.Name</span>
                            </td>
                            <!-- AGE -->
                            <td>
                                Age:&nbsp;<span class="text-danger">@Model.Age</span>
                            </td>

                            <!-- SEX -->
                            <td>
                                Sex:&nbsp;<span class="text-danger">@Model.Sex</span>
                            </td>

                            <!-- STATUS -->
                            <td>
                                Status:&nbsp;<span class="text-danger">@Model.CivilStatus</span>
                            </td>
                        </tr>
                        <!-- ADDRESS OF PATIENT -->
                        <tr>
                            <td colspan="6">
                                Address:
                                <span class="text-danger">@Model.Address</span>
                            </td>
                        </tr>
                        <tr>
                            <!-- PHILHEALTH STATUS -->
                            <td colspan="3">
                                PhilHealth:
                                <span class="text-danger">@Model.PhicStatus</span>
                            </td>
                            <!-- PHILHEALTH NUMBER -->
                            <td colspan="3">
                                PhilHealth#:
                                <span class="text-danger">@Model.PhicId</span>
                            </td>
                        </tr>
                        <!-- CASE SUMMARY -->
                        <tr>
                            <td colspan="6">
                                Case Summary (pertinent Hx/PE, including meds, labs, course etc.):<br />
                                <textarea asp-for="CaseSummary" class="form-control" rows="5" required></textarea>
                                <span asp-validation-for="CaseSummary" class="text-danger"></span>
                            </td>
                        </tr>
                        <!-- SUMMARY OF RECO -->
                        <tr>
                            <td colspan="6">
                                Summary of ReCo (Please refer to ReCo Guide in Referring Patients Checklist):
                                <textarea asp-for="SummaryReco" class="form-control" rows="5" required></textarea>
                                <span asp-validation-for="SummaryReco" class="text-danger"></span>
                            </td>
                        </tr>
                        <!-- DIAGNOSYS/IMPRESSION -->
                        <tr>
                            <td colspan="6">
                                Diagnosis/Impression:
                                <textarea asp-for="Diagnosis" class="form-control" rows="5" required></textarea>
                                <span asp-validation-for="Diagnosis" class="text-danger"></span>
                            </td>
                        </tr>
                        <!-- REASON -->
                        <tr>
                            <td colspan="6">
                                Reason for referral:
                                <textarea asp-for="Reason" class="form-control" rows="5" required></textarea>
                                <span asp-validation-for="Reason" class="text-danger"></span>
                            </td>
                        </tr>
                        <!-- NAME OF REFERRING -->
                        <tr>
                            <td colspan="6">
                                Name of Referring MD/HCW:
                                <span class="form-control text-danger">@referringMd</span>
                            </td>
                        </tr>
                        <!-- NAME OF REFERRED -->
                        <tr>
                            <td colspan="6">
                                <div class="col-md-5">
                                    Name of Referred MD/HCW - Mobile Contact Number (ReCo):
                                </div>
                                <div class="col-md-7">
                                    <select id="doctorFiltered" asp-for="ReferredToMd" class="form-control select2">
                                        <option value="0">Any...</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="ReferredToMd"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- REFER FOOTER -->
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    &nbsp;Close
                </button>
                <button type="submit" class="btn btn-success">
                    <i class="far fa-paper-plane"></i>
                    &nbsp;Submit
                </button>
            </div>
        </form>
    </div>
<script>
    $(document).ready(function () {
        var form = $('#normal-refer-form');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);
        $('.select2').select2({
            theme: 'bootstrap4'
        })
    });
</script>