@model PaginatedList<CancelledViewModel>

@{
    ViewData["Title"] = "Cancelled Patients";
    var dateRange = ViewBag.StartDate + " - " + ViewBag.EndDate;
}


<div class="col-md-12">

    <!-- CARD START-->
    <div class="card">
        <!-- CARD DANGER HEADER -->
        <div class="card-header">
            @await Html.PartialAsync("~/Views/Shared/PartialViews/_PatientSearchFilter.cshtml", new SearchModel
            {
                Action = "Cancelled",
                StartDate = ViewBag.StartDate,
                EndDate = ViewBag.EndDate,
                Search = ViewBag.CurrentSearch
            })
            <div>
                <h3 class="card-title">Cancelled Patients</h3><br />
                <span class="text-sm text-muted">TOTAL: @ViewBag.Total</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- CARD DANGER BODY -->
        <form method="post" action="">
            <input type="hidden" name="_token" value="" autocomplete="off" />
            <div class="card-body">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr class="bg-gray">
                            <th width="25%">
                                <p>Referring Facility</p>
                            </th>
                            <th width="25%">
                                <p>Patient Name/Code</p>
                            </th>
                            <th width="25%">
                                <p>Date Cancelled</p>
                            </th>
                            <th width="25%">
                                <p>Reason</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var facility = item.ReferringFacility.Length > 25 ? new string(item.ReferringFacility.Take(25).ToArray()) +"..." : item.ReferringFacility;
                            <tr>
                                <td>
                                    <span class="facility-color" title="@item.ReferringFacility">
                                        @facility
                                    </span>
                                    <br />
                                    <p class="small text-muted">@item.PatientType</p>
                                </td>
                                <td>
                                    @if (item.PatientType.Equals("Non-Pregnant"))
                                    {
                                        <a href="#" data-toggle="ajax-modal" data-target="#normal-form-modal" data-url="@Url.Action("PrintableNormalForm","ViewForms", new { code = item.PatientCode })">
                                            @item.PatientName
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" data-toggle="ajax-modal" data-target="#print-pregnant-form-modal" data-url="@Url.Action("PrintablePregnantForm","ViewForms", new { code = item.PatientCode })">
                                            @item.PatientName
                                        </a>
                                    }
                                    <p class="small text-muted">
                                        @item.PatientCode
                                    </p>
                                </td>
                                <td>
                                    <span>@item.DateCancelled.GetDate("MMMM d, yyyy h:mm tt")</span>
                                </td>
                                <td>
                                    @item.ReasonCancelled
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- CARD FOOTER -->
            <div class="card-footer">
                @await Html.PartialAsync("~/Views/Shared/PartialViews/_PageList.cshtml", new PageListModel
               {
                   Action = "Cancelled",
                   HasNextPage = Model.HasNextPage,
                   HasPreviousPage = Model.HasPreviousPage,
                   PageIndex = Model._pageIndex,
                   TotalPages = Model._totalPages,
                   Parameters = new Dictionary<string, string>
                    {
                       { "page", Model._pageIndex.ToString() },
                       { "search", ViewBag.CurrentSearch },
                       { "dateRange", dateRange }
                    }
                })
            </div>
        </form>
    </div>
</div>


