@model PaginatedList<ReferredViewModel>
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Referred Patient";
    var startDate = ViewBag.StartDate;
    var endDate = ViewBag.EndDate;
    var dateRange = startDate.ToString("yyyy/MM/dd") + " - " + endDate.ToString("yyyy/MM/dd");
    var referred = "disabled";
    var seen = "disabled";
    var accepted = "disabled";
    var arrived = "disabled";
    var admitted = "disabled";
    var discharged = "disabled";
    var transpo = ListContainer.TranspoMode;

    var NotifyPatient = new NotificationModel();
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));//
    var userFacility = int.Parse(User.FindFirstValue("Facility"));
    var _userFacility = User.FindFirstValue("Facility");
    var UserName = User.FindFirstValue(ClaimTypes.Surname) + " " + User.FindFirstValue(ClaimTypes.GivenName);
    string[] userName = User.FindFirstValue(ClaimTypes.GivenName).Split();
    var GetFirstPatient = Model.FirstOrDefault();
    var UserInformation = new UserModel
    {
        UserID = userId,
        Level = User.FindFirstValue(ClaimTypes.Role),
        Facility = _userFacility,
        Firstname = userName[0],
        Middlename = userName.Length < 2 ? " " : userName[1],
        Lastname = User.FindFirstValue(ClaimTypes.Surname)
    };//

    if (GetFirstPatient.Status.Equals("referred", StringComparison.OrdinalIgnoreCase))
    {
        NotifyPatient = new NotificationModel
        {
            PatientCode = GetFirstPatient.Code,
            TrackStatus = "referred",
            UpdatedAt = DateTime.Now
        };
    }

    void SetStatus(string status)
    {
        switch (status)
        {
            case "rejected":
                {
                    referred = "complete";
                    seen = "active";
                    accepted = "disabled";
                    arrived = "disabled";
                    admitted = "disabled";
                    discharged = "disabled";
                    break;
                }
            case "cancelled":
                {
                    referred = "active";
                    seen = "disabled";
                    accepted = "disabled";
                    arrived = "disabled";
                    admitted = "disabled";
                    discharged = "disabled";
                    break;
                }
            case "referred":
                {
                    referred = "active";
                    seen = "disabled";
                    accepted = "disabled";
                    arrived = "disabled";
                    admitted = "disabled";
                    discharged = "disabled";
                    break;
                }
            case "seen":
                {
                    referred = "complete";
                    seen = "active";
                    accepted = "disabled";
                    arrived = "disabled";
                    admitted = "disabled";
                    discharged = "disabled";
                    break;
                }
            case "accepted":
                {
                    referred = "complete";
                    seen = "complete";
                    accepted = "active";
                    arrived = "disabled";
                    admitted = "disabled";
                    discharged = "disabled";
                    break;
                }
            case "arrived":
                {
                    referred = "complete";
                    seen = "complete";
                    accepted = "complete";
                    arrived = "active";
                    admitted = "disabled";
                    discharged = "disabled";
                    break;
                }
            case "admitted":
                {
                    referred = "complete";
                    seen = "complete";
                    accepted = "complete";
                    arrived = "complete";
                    admitted = "active";
                    discharged = "disabled";
                    break;
                }
            case "discharged":
                {
                    referred = "complete";
                    seen = "complete";
                    accepted = "complete";
                    arrived = "complete";
                    admitted = "complete";
                    discharged = "active";
                    break;
                }
        }
    }
}
<div class="row">
    <div class="col-md-3">
        <div class="card card-danger card-green">
            <!-- CARD DANGER HEADER -->
            <div class="card-header">
                <h3 class="card-title">
                    Filter Result
                </h3>
                <span class="badge badge-bg fa-pull-right">
                    Result: @Model._itemCount
                </span>
            </div>
            <!-- CARD DANGER BODY -->
            <form asp-action="Referred" id="referred-form">
                <input type="hidden" value="" autocomplete="off" />
                <div class="card-body">
                    <!-- SEARCH -->
                    <div class="form-group">
                        <input class="form-control form-control-sm "
                               type="text" placeholder="Code, Firstname, Lastname"
                               name="search"
                               value="@ViewBag.CurrentSearch" />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm selectpicker bg-white"
                               type="text"
                               name="dateRange"
                               value="@dateRange"
                               id="daterange"
                               style="cursor: pointer;"
                               readonly />
                    </div>
                    <!-- FACILITY -->
                    <div class="form-group">
                        <select class="form-control form-control-sm select2"
                                asp-items="ViewBag.Facilities"
                                name="facilityId">
                            <option value="">All Facility</option>
                        </select>
                    </div>
                    <!-- STATUS -->
                    <div class="form-group">
                        <select class="form-control form-control-sm"
                                asp-items="ViewBag.ListStatus"
                                name="status">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="form-group hide"></div>
                    <!-- BUTTONS -->
                    <button type="submit" value="Filter" class="btn btn-block btn-default">
                        <i class="fa fa-search"></i>
                        &nbsp;Search
                    </button>
                </div>
            </form>
        </div>
        <partial name="~/Views/Shared/PartialViews/_MainMenuPartial.cshtml" />"
    </div>


    <div class="col-md-9">
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                var headerclass = item.Pregnant ? "bg-pregnant" : "card-custom-bg";
                var seenCount = item.SeenCount;
                var callerCount = item.CallerCount;
                var recoCount = item.ReCoCount;
                var referredBy = item.Walkin ? "WALK IN" : item.ReferredBy.ToUpper();
                int ctr = 0;
                seen = "disabled";
                accepted = "disabled";
                arrived = "disabled";
                admitted = "disabled";
                discharged = "disabled";
                SetStatus(item.Status);

                <div style="border:2px solid #7E7E7E" class="card card-outline">
                    <!-- DAILY USERS HEADER -->
                    <div class="card-header @headerclass">
                        <span class="patientTitle">
                            <i class="fa fa-wheelchair"></i>
                            &nbsp;@item.PatientName
                            <small class="text-sm text-muted">[@item.PatientSex, @item.PatientAge] from @item.PatientAddress</small><br />
                        </span>
                        <span class="text-success">Referred by:</span>
                        <strong class="text-info">@referredBy</strong><br />
                        <span class="text-success">Patient Code:</span>
                        <span class="code-color" id="code-holder">@item.Code</span>
                        <span id="status-holder" hidden>@item.Status</span>
                    </div>
                    <!-- DAILY USERS BODY -->
                    <div class="card-body">
                        <div id="code-holder" hidden>@item.Code</div>
                        <!-- BS-WIZARD START -->
                        <div class="row bs-wizard" style="border-bottom:0;">

                            <div class="col-sm-2 bs-wizard-step @referred">
                                <!-- REFERRED -->
                                @if (item.Status.Equals("cancelled"))
                                {
                                    <div class="text-center bs-wizard-stepnum">
                                        <span class="text-danger">Cancelled</span>
                                    </div>
                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <a href="javascript:void(0)" class="bs-wizard-dot" title="Referred" style="background:#a94442;"></a>

                                }
                                else
                                {
                                    <div class="text-center bs-wizard-stepnum">
                                        Referred
                                    </div>
                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <a href="javascript:void(0)" class="bs-wizard-dot" title="Referred"></a>
                                }
                            </div>

                            <div class="col-sm-2 bs-wizard-step @seen">
                                <!-- SEEN -->
                                <div class="text-center bs-wizard-stepnum">Seen</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                            </div>

                            <div class="col-sm-2 bs-wizard-step @accepted">
                                <!-- ACCEPTED -->
                                <div class="text-center bs-wizard-stepnum">Accepted</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                            </div>

                            <div class="col-sm-2 bs-wizard-step @arrived">
                                <!-- ARRIVED -->
                                <div class="text-center bs-wizard-stepnum">
                                    Arrived
                                </div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                            </div>
                            <div class="col-sm-2 bs-wizard-step @admitted">
                                <!-- ADMITTED -->
                                <div class="text-center bs-wizard-stepnum">Admitted</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                            </div>
                            <div class="col-xs-2 bs-wizard-step @discharged">
                                <!-- DISCHARGED -->
                                <div class="text-center bs-wizard-stepnum">Discharged</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                            </div>
                        </div>
                        <!-- TABLE START-->
                        <div class="tracking-activities col-md-12">
                            <div class="table-responsive">
                                <table>
                                    <tbody>

                                        @foreach (var item2 in item.Activities)
                                        {
                                            var trClass = ctr == 0 ? "" : "toggle toggle" + item.PatientId;
                                            var trStyle = ctr == 0 ? "" : "display: none;";
                                            <tr class="@trClass" style="@trStyle">
                                                @switch (item2.Status)
                                                {
                                                    case "transferred":
                                                        {

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            @if (!item.Walkin)
                                                            {
                                                                <td>
                                                                    <span class="patient-color">@item2.PatientName</span>
                                                                    was referred by
                                                                    <span class="md-color">@item2.ReferringMd</span>
                                                                    of
                                                                    <span class="hospital-color">@item2.FacilityFrom</span>
                                                                    to
                                                                    <span class="hospital-color">@item2.FacilityTo</span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <strong>Walk-In Patient: </strong>
                                                                    <span class="patient-color">@item2.PatientName</span>
                                                                </td>
                                                            }

                                                            break;
                                                        }
                                                    case "rejected":
                                                        {
                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            <td>
                                                                <span class="md-color">@item2.ActionMd</span>
                                                                of
                                                                <span class="hospital-color">@item2.FacilityTo</span>
                                                                recommend to redirect
                                                                <span class="patient-color">@item2.PatientName</span>
                                                                to other facility.<br />
                                                                <span class="text-warning">Remarks: @item2.Remarks</span><br />
                                                                @if (item.Status == "rejected")
                                                                {
                                                                    <button class="btn btn-xs bg-gradient-success"
                                                                            data-toggle="ajax-modal"
                                                                            data-target="#refer-other-modal"
                                                                            data-url="@Url.Action("ReferOther","Remarks",new {code=item.Code })">
                                                                        <i class="fa fa-ambulance"></i>
                                                                        Refer to other facility
                                                                    </button>
                                                                }
                                                            </td>

                                                            break;
                                                        }
                                                    case "travel":
                                                        {
                                                            var other = "";
                                                            var transpoId = int.Parse(item2.Remarks[0].ToString()) - 1;
                                                            var remarks = transpo[transpoId];
                                                            if (transpoId == 4)
                                                            {
                                                                other = item2.Remarks.Substring(item2.Remarks.LastIndexOf(" ")).Trim();
                                                                remarks = "Others - ";
                                                            }

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            <td>
                                                                <span class="patient-color">@item2.PatientName</span>
                                                                has departed by
                                                                <span class="md-color">@remarks@other</span>
                                                            </td>

                                                            break;
                                                        }
                                                    case "redirected":
                                                        {

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            @if (!item.Walkin)
                                                            {
                                                                <td>
                                                                    <span class="patient-color">@item2.PatientName</span>
                                                                    was referred by
                                                                    <span class="md-color">@item2.ReferringMd</span>
                                                                    of
                                                                    <span class="hospital-color">@item2.FacilityFrom</span>
                                                                    to
                                                                    <span class="hospital-color">@item2.FacilityTo</span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <strong>Walk-In Patient: </strong>
                                                                    <span class="patient-color">@item2.PatientName</span>
                                                                </td>
                                                            }

                                                            break;
                                                        }
                                                    case "referred":
                                                        {

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            @if (!item.Walkin)
                                                            {
                                                                <td>
                                                                    <span class="patient-color">@item2.PatientName</span>
                                                                    was referred by
                                                                    <span class="md-color">@item2.ReferringMd</span>
                                                                    of
                                                                    <span class="hospital-color">@item2.FacilityFrom</span>
                                                                    to
                                                                    <span class="hospital-color">@item2.FacilityTo</span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <strong>Walk-In Patient: </strong>
                                                                    <span class="patient-color">@item2.PatientName</span>
                                                                </td>
                                                            }

                                                            break;
                                                        }
                                                    case "accepted":
                                                        {

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            <td>
                                                                <span class="patient-color">@item2.PatientName</span>
                                                                was accepted by
                                                                <span class="md-color">@item2.ActionMd</span>
                                                                of
                                                                <span class="hospital-color">@item2.FacilityTo</span>
                                                                <br />
                                                                <span class="text-warning">Remarks: @item2.Remarks</span>
                                                            </td>

                                                            break;
                                                        }
                                                    case "arrived":
                                                        {

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            <td>
                                                                <span class="patient-color">@item2.PatientName</span>
                                                                has arrived at
                                                                <span class="hospital-color">@item2.FacilityTo</span>
                                                                <br />
                                                                <span class="text-warning">Remarks: @item2.Remarks</span>
                                                            </td>

                                                            break;
                                                        }
                                                    case "admitted":
                                                        {

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            <td>
                                                                <span class="patient-color">@item2.PatientName</span>
                                                                was admitted at
                                                                <span class="hospital-color">@item2.FacilityTo</span>
                                                                <br />
                                                                <span class="text-warning">Remarks: @item2.Remarks</span>
                                                            </td>

                                                            break;
                                                        }
                                                    case "discharged":
                                                        {

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            <td>
                                                                <span class="patient-color">@item2.PatientName</span>
                                                                was discharged from
                                                                <span class="hospital-color">@item2.FacilityTo</span>
                                                                <br />
                                                                <span class="text-warning">Remarks: @item2.Remarks</span>
                                                            </td>

                                                            break;
                                                        }
                                                    case "calling":
                                                        {

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            <td>
                                                                <span class="md-color">@item2.ActionMd</span>
                                                                of
                                                                <span class="hospital-color">@item2.FacilityTo</span>
                                                                is requesting a call from
                                                                <span class="hospital-color">@item2.FacilityFrom</span>.
                                                            </td>

                                                            break;
                                                        }
                                                    case "cancelled":
                                                        {

                                                            <td class="table-date">
                                                                <span class="text-muted">@item2.DateAction</span>
                                                            </td>
                                                            <td>
                                                                <span class="patient-color">@item2.PatientName</span>
                                                                was cancelled by
                                                                <span class="md-color">@item2.ActionMd</span>
                                                                <br />
                                                                <span class="text-warning">Remarks: @item2.Remarks</span>
                                                            </td>

                                                            break;
                                                        }
                                                }
                                            </tr>
                                            @if (ctr == 0)
                                            {
                                                ctr = 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (item.Activities.Count() > 1)
                            {
                                <div style="border-top: 1px solid #ccc;">
                                    <div class="text-center">
                                        <a href="#toggle" data-id="@item.PatientId">View More</a> <small class="text-muted">(@item.Activities.Count())</small>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @{
                        var dataTarget = item.Pregnant ? "print-pregnant-form-modal" : "normal-form-modal";
                        var dataUrl = item.Pregnant ? Url.Action("PrintablePregnantForm", "ViewForms", new { code = item.Code }) : Url.Action("PrintableNormalForm", "ViewForms", new { code = item.Code });
                    }
                    <div class="card-footer card-custom-bg">
                        <button class="btn btn-xs bg-gradient-warning"
                                data-toggle="ajax-modal"
                                data-target="#large_modal"
                                data-action="#large_content"
                                data-url="@dataUrl"
                                onclick="OpenModal($(this));">
                            <i class="fa fa-folder"></i>
                            &nbsp;View Form
                        </button>
                        @if (seenCount > 0)
                        {
                            <button type="button" 
                                    class="btn btn-success btn-xs"
                                    data-toggle="ajax-modal"
                                    data-target="#small_modal"
                                    data-action="#small_content"
                                    data-url="@Url.Action("ViewSeens", "Modals", new { trackingId = item.TrackingId })"
                                    onclick="OpenModal($(this));">
                                <i class="fa fa-user-md"></i>
                                &nbsp;Seen

                                <small class="badge bg-green">@seenCount</small>

                            </button>
                        }
                        @if (item.Status.Equals("accepted") && item.Travel)
                        {
                            <button type="button" 
                                    class="btn btn-success btn-xs"
                                    data-toggle="ajax-modal"
                                    data-target="#small_modal"
                                    data-action="#small_content"
                                    data-url="@Url.Action("Travel", "Remarks", new { id = item.TrackingId })"
                                    onclick="OpenModal($(this));">
                                <i class="fa fa-ambulance"></i>
                                &nbsp;Travel
                            </button>
                        }
                        @if (callerCount > 0)
                        {
                            <button class="btn btn-xs bg-gradient-primary"
                                    type="button"
                                    data-toggle="ajax-modal"
                                    data-target="#small_modal"
                                    data-action="#small_content"
                                    data-url="@Url.Action("ViewCalls","Modals", new { code = item.Code })"
                                    onclick="OpenModal($(this));">
                                <i class="fa fa-phone"></i>
                                &nbsp;Caller

                                <small class="badge bg-blue">@callerCount</small>

                            </button>
                        }
                        <button type="button"
                                class="btn btn-info btn-xs"
                                data-toggle="ajax-modal"
                                data-target="#small_modal"
                                data-action="#small_content"
                                data-url="@Url.Action("ViewReco","Modals", new { code = item.Code })"
                                onclick="OpenModal($(this));">
                            <i class="fa fa-comments"></i>
                            &nbsp;ReCo
                            @if (recoCount > 0)
                            {
                                <small class="badge bg-blue" id="reco_@item.Code">@recoCount</small>
                            }
                        </button>
                        <button type="button"
                                class="btn btn-xs btn-danger"
                                data-toggle="ajax-modal"
                                data-target="#small_modal"
                                data-action="#small_content"
                                data-url="@Url.Action("Issues","Remarks", new { id = item.TrackingId })"
                                onclick="OpenModal($(this));">
                            <i class="fa fa-exclamation-triangle"></i>
                            &nbsp;Issue and Concern
                            @if (item.IssueCount > 0)
                            {
                                <small class="badge bg-gradient-red">@item.IssueCount</small>
                            }
                        </button>
                        @if (!item.Status.Equals("cancelled") && !item.Status.Equals("discharged"))
                        {
                            <button type="button" 
                                    class="btn btn-xs btn-default" 
                                    data-toggle="ajax-modal"
                                    data-target="#small_modal"
                                    data-action="#small_content"
                                    data-url="@Url.Action("CancelRemark","Remarks", new { code = item.Code })"
                                    onclick="OpenModal($(this));">
                                <i class="fa fa-times"></i>
                                &nbsp;Cancel
                            </button>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-warning">
                <span class="text-warning" style="font-weight: bold; font-size: 1.2em;">
                    <i class="fa fa-exclamation-triangle"></i>
                    &nbsp;No Referred Patients!
                </span>
            </div>
        }
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_PageList.cshtml", new PageListModel
           {
               Action = "Referred",
               HasNextPage = Model.HasNextPage,
               HasPreviousPage = Model.HasPreviousPage,
               PageIndex = Model._pageIndex,
               TotalPages = Model._totalPages,
               Parameters = new Dictionary<string, string>
               {
                   {"page",Model._pageIndex.ToString() },
                   {"search", ViewBag.CurrentSearch },
                   { "dateRange",dateRange },
                   { "facilityId",ViewBag.SelectedFacility},
                   { "status", ViewBag.SelectedStatus }
               }
           })
    </div>
</div>

<script src="~/js/socket.js"></script>
<script type="text/javascript">
    @*Initialize("@Constants.Server_Link");//
    setTimeout(function () { SubmitUserInformation(@Html.Raw(JsonConvert.SerializeObject(UserInformation))); }, 200);//
    var getpatient = @Html.Raw(JsonConvert.SerializeObject(NotifyPatient));

    if (getpatient.PatientCode != null) {
        setTimeout(function () { EnveloperPatientInformation(@Html.Raw(JsonConvert.SerializeObject(NotifyPatient))); }, 200);
    }*@


    $(document).ready(function () {
        $('input[id="daterange"]').daterangepicker({
            format: 'YYYY/MM/DD',
            startDate: '@startDate.ToString("yyyy/MM/dd")',
            endDate: '@endDate.ToString("yyyy/MM/dd")'
        });

        $('.select2').select2({
            theme: 'bootstrap4'
        });

        $('.selectpicker').selectpicker();

        $("a[href='#toggle']").on('click',function () {
            var id = $(this).data('id');
            $('.toggle'+id).toggle("fast");
            var txt = ($(this).html() =='View More') ? 'View Less': 'View More';
            $(this).html(txt);
        });

        $('[data-toggle="tooltip"]').tooltip();
    });

</script>