@model AdmittedViewModel
@using Newtonsoft.Json;
@{
    var NotifyPatient = new NotificationModel();
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    var userFacility = int.Parse(User.FindFirstValue("Facility"));
    var _userFacility = User.FindFirstValue("Facility");
    var UserName = User.FindFirstValue(ClaimTypes.Surname) + " " + User.FindFirstValue(ClaimTypes.GivenName);
    string[] userName = User.FindFirstValue(ClaimTypes.GivenName).Split();
    var UserInformation = new UserModel
    {
        UserID = userId,
        Level = User.FindFirstValue(ClaimTypes.Role),
        Facility = _userFacility,
        Firstname = userName[0],
        Middlename = userName.Length < 2 ? " " : userName[1],
        Lastname = User.FindFirstValue(ClaimTypes.Surname)
    };

    // Admitted
    NotifyPatient = new NotificationModel
    {
        PatientCode = Model.Code,
        TrackStatus = "admitted",
        UpdatedAt = DateTime.Now
    };
 }

<div class="modal-content" id="admitted-modal">
    <form asp-action="AdmittedRemark">
        <div class="modal-header">
            <h4>
                Admit Patient
            </h4>
        </div>
        <div class="modal-body">
            <div class="">
                <input type="hidden" asp-for="Code" />
            </div>
            <div class="">
                <label>Select Date/Time:</label>
                <input asp-for="DateAdmitted" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" id='datetimepicker4' class="form-control" />
                <span asp-validation-for="DateAdmitted" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer justify-content-end">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="submitted" type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
<script>
    @*Initialize("@Constants.Server_Link");
    setTimeout(function () { SubmitUserInformation(@Html.Raw(JsonConvert.SerializeObject(UserInformation))); }, 200);

    $("#submitted").click(function () {
        setTimeout(function () { EnveloperPatientInformation(@Html.Raw(JsonConvert.SerializeObject(NotifyPatient))); }, 200);
    });*@

    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            minuteStep: 2,
            endDate: '@DateTime.Now.ToString("yyyy-MM-dd")',
            endTime: '@DateTime.Now.ToString("HH:mm")'
        });
    });
</script>