@model DischargeRemarkViewModel
@using Newtonsoft.Json;
@{
    var NotifyPatient = new NotificationModel();
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    var userFacility = int.Parse(User.FindFirstValue("Facility"));
    var _userFacility = User.FindFirstValue("Facility");
    var UserName = User.FindFirstValue(ClaimTypes.Surname) + " " + User.FindFirstValue(ClaimTypes.GivenName);
    string[] userName = User.FindFirstValue(ClaimTypes.GivenName).Split();
    var UserInformation = new UserModel
    {
        UserID = userId,
        Level = User.FindFirstValue(ClaimTypes.Role),
        Facility = _userFacility,
        Firstname = userName[0],
        Middlename = userName.Length < 2 ? " " : userName[1],
        Lastname = User.FindFirstValue(ClaimTypes.Surname)
    };


    // Discharged
    NotifyPatient = new NotificationModel
    {
        PatientCode = Model.Code,
        TrackStatus = "discharged",
        UpdatedAt = DateTime.Now
    };
}

<div class="modal-content" id="discharged_modal">
    <form asp-action="DischargedRemark">
        <div class="modal-header">
            <h4>
                Discharge Patient
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input id="getCode" type="hidden" asp-for="Code" />
            </div>
            <div class="form-group">
                <label>Select Date/Time:</label>
                <input asp-for="DateDischarged" type="text" id="datetimepicker" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" class="form-control" required />
                <span asp-validation-for="DateDischarged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Clinical Status:</label>
                <select asp-for="ClinicaStatus" asp-items="ViewBag.ClinicalStat" class="form-control">
                    <option value="">Select option</option>
                </select>
                <span asp-validation-for="ClinicaStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Surveillance Category:</label>
                <select asp-for="SurveillanceCategory" asp-items="ViewBag.SurveilanceCat" class="form-control">
                    <option value="">Select option</option>
                </select>
                <span asp-validation-for="SurveillanceCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Enter Remarks:</label>
                <textarea asp-for="Remarks" class="form-control" rows="5" required></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer justify-content-end">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="discharged" type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
<script>
    @*Initialize("@Constants.Server_Link");
    setTimeout(function () { SubmitUserInformation(@Html.Raw(JsonConvert.SerializeObject(UserInformation))); }, 200);
    console.log("@Model.Code");

    $("#discharged").click(function () {
        setTimeout(function () { EnveloperPatientInformation(@Html.Raw(JsonConvert.SerializeObject(NotifyPatient))); }, 200);
    });*@

    $(function () {
        $('#datetimepicker').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            minuteStep: 2,
            endDate: '@DateTime.Now.ToString("yyyy-MM-dd")',
            endTime: '@DateTime.Now.ToString("HH:mm")'
        });
    });
</script>