@model PaginatedList<IncomingReportViewModel>

@{
    ViewData["Title"] = "Incoming Referral Report";
    var startDate = ViewBag.StartDate;
    var endDate = ViewBag.EndDate;
    var dateRange = startDate.ToString("dd/MM/yyyy") + " - " + endDate.ToString("dd/MM/yyyy");
    var facility = ViewBag.Facilities.SelectedValue == null ? "" : ViewBag.Facilities.SelectedValue.ToString();
    var department = ViewBag.Departments.SelectedValue == null ? "" : ViewBag.Departments.SelectedValue.ToString();
}

<div class="content">
    <div class="container">
        <div class="row">
            <!-- CARD DANGER -->
            <div class="col-md-3">
                <!-- SELECT DATE -->
                <div class="card card-danger card-green">
                    <!-- CARD DANGER HEADER -->
                    <div class="card-header">
                        <h3 class="card-title">
                            Filter Result
                        </h3>
                        <small class="badge bg-gradient-orange fa-pull-right">
                            Result: @ViewBag.Total
                        </small>
                    </div>
                    <!-- CARD DANGER BODY -->
                    <form method="post" asp-action="IncomingReport">
                        <div class="card-body">
                            <!-- DATE RANGE FILTER -->
                            <div class="form-group">
                                <input type="text" class="form-control bg-white" name="daterange" value="@dateRange" style="cursor:pointer;" readonly />
                            </div>
                            <!-- FACILITY -->
                            <div class="form-group">
                                <select class="form-control" name="facility" asp-items="ViewBag.Facilities">
                                    <option value="">All Facility</option>
                                </select>
                            </div>
                            <!-- DEPARTMENT -->
                            <div class="form-group">
                                <select class="form-control" name="department" asp-items="ViewBag.Departments">
                                    <option value="">All Department</option>
                                </select>
                            </div>
                            <div class="form-group hide"></div>
                            <!-- BUTTONS -->
                            <div class="form-group">
                                <!-- FILTER -->
                                <button type="submit" value="Filter" class="btn btn-block btn-success">
                                    <i class="fa fa-filter"></i>
                                    &nbsp;Filter Result
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <partial name="~/Views/Shared/PartialViews/_MainMenuPartial.cshtml" />
            </div>
            <div class="col-md-9">
                <!-- PATIENT LIST -->
                <div class="card card-outline card-success">
                    <!-- DAILY USERS HEADER -->
                    <div class="card-header with-border">
                        <h4>
                            Incoming Referral Report
                            <small class="text-success fa-pull-right">@startDate.ToString("MMMM dd, yyyy") to @endDate.ToString("MMMM dd, yyyy")</small>
                        </h4>
                    </div>
                    <!-- DAILY USERS BODY -->
                    <div class="card-body">
                        @if (Model.Count() > 0)
                        {
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <!-- TABLE HEADER -->
                                    <thead>
                                        <tr class="bg-black">
                                            <th class="text-center" rowspan="2">Patient Code</th>
                                            <th class="text-center" rowspan="2">Referring Facility</th>
                                            <th class="text-center" colspan="5">Status</th>
                                        </tr>
                                        <tr class="bg-black">
                                            <th class="text-center">Arrived</th>
                                            <th class="text-center">Admitted</th>
                                            <th class="text-center">Discharged</th>
                                            <th class="text-center">Transferred</th>
                                            <th class="text-center">Cancelled</th>
                                        </tr>
                                    </thead>
                                    <!-- TABLE BODY -->
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            var code = item.Code;
                                            var length = item.Facility.Length > 20;
                                            var referredFrom = length ? new string(item.Facility.Take(20).ToArray()) + "..." : item.Facility;
                                            var arrived = item.DateArrived == default ? "" : item.DateArrived.ToString("MM/dd/yy HH:mm");
                                            var admitted = item.DateAdmitted == default ? "" : item.DateAdmitted.ToString("MM/dd/yy HH:mm");
                                            var discharged = item.DateDischarged == default ? "" : item.DateDischarged.ToString("MM/dd/yy HH:mm");
                                            var transferred = item.DateTransferred == default ? "" : item.DateTransferred.ToString("MM/dd/yy HH:mm");
                                            var cancelled = item.DateCancelled == default ? "" : item.DateCancelled.ToString("MM/dd/yy HH:mm");
                                            <tr>
                                                <td>@code</td>
                                                <td class="text-success" title="@item.Facility">@referredFrom</td>
                                                <td><small class="text-success">@arrived</small></td>
                                                <td><small class="text-success">@admitted</small></td>
                                                <td><small class="text-success">@discharged</small></td>
                                                <td><small class="text-success">@transferred</small></td>
                                                <td><small class="text-success">@cancelled</small></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <span class="text-lg">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    &nbsp;No data found!
                                </span>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        @await Html.PartialAsync("~/Views/Shared/PartialViews/_PageList.cshtml", new PageListModel
                       {
                           Action = "IncomingReport",
                           HasNextPage = Model.HasNextPage,
                           HasPreviousPage = Model.HasPreviousPage,
                           PageIndex = Model._pageIndex,
                           TotalPages = Model._totalPages,
                           Parameters = new Dictionary<string, string>
                                {
                                    { "page", Model._pageIndex.ToString() },
                                    { "daterange", dateRange },
                                    { "facility", facility},
                                    {"department", department}
                                }
                       })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[name="daterange"]').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: '@startDate.ToString("dd/MM/yyyy")',
            endDate: '@endDate.ToString("dd/MM/yyyy")',
            opens: 'right'
        });
    });
</script>