@model SupportDashboadViewModel

@{
    ViewData["Title"] = "Medical Center Chief";
    var totalDoctor = Model.TotalDoctors;
    var onlineDoctors = Model.OnlineDoctors;
    var referredPatients = Model.ReferredPatients;
}

<div class="row">
    <!-- MCC DASHBOARD -->
    <div class="col-md-9">
        <div class="card card-success card-outline">
            <div class="card-header with-border">
                <h3>Medical Center Chief</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- TOTAL DOCTORS -->
                    <div class="col-sm-4">
                        <div class="small-box bg-gradient-yellow">
                            <div class="inner" style="padding-left: 30px;">
                                <h3>@totalDoctor</h3>

                                <p>TOTAL DOCTORS</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-md"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ONLINE DOCTORS -->
                    <div class="col-sm-4">
                        <div class="small-box bg-gradient-cyan">
                            <div class="inner" style="padding-left: 30px;">
                                <h3>@onlineDoctors</h3>

                                <p>ONLINE DOCTORS</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <!-- REFERRED PATIENTS -->
                    <div class="col-sm-4">
                        <div class="small-box bg-gradient-green">
                            <div class="inner" style="padding-left: 30px;">
                                <h3>@referredPatients</h3>

                                <p>REFERRED PATIENTS</p>
                            </div>
                            <div class="icon">
                                <i class="far fa-file-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MONTHLY ACTIVITY -->
        <div class="card">
            <div class="card-header">
                <h3>Monthly Activity</h3>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="barChart" height="326" width="653" style="width: 523px; height: 261px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- LINKS -->
    <div class="col-md-3" id="wat">
        <partial name="~/Views/Shared/PartialViews/_OtherLinksPartial.cshtml" />
        <div id="OnlineMcc" style="font-size: 14px;">
        </div>
    </div>
</div>


<script src="~/assets/plugins/chart.js/Chart.js"></script>
<script type="text/javascript">
    DashboardAPI('@User.FindFirstValue(ClaimTypes.Role)');

    function test() {
        alert('test');
    }

    var url = '@Url.Action("OnlineMcc","MedicalCenterChief")';


    $.ajax({
        url: url,
        type: 'get',
        async: true,
        error: function (xhr) {
            console.debug(xhr);
        },
        success: function (data) {
            $('#OnlineMcc').html(data);
        }
    });
</script>
