<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Referral System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="icon" href="~/assets/dist/img/dohfavicon.png" />
    <link rel="stylesheet" href="~/assets/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/assets/dist/css/wizardstep.css" />
    <link rel="stylesheet" href="~/assets/dist/css/CustomCSS.css" />
    <link rel="stylesheet" href="~/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/assets/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
    <link rel="stylesheet" href="~/assets/dist/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/assets/datepicker/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/assets/dist/css/lobibox.css" />
    @*<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">*@


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/assets/plugins/chart.js/Chart.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>*@
    <script src="~/assets/dist/js/jquery.canvasjs.min.js"></script>
    <script src="~/assets/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/assets/daterangepicker/moment.js"></script>
    <script type="text/javascript" src="~/assets/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/assets/dist/js/bootstrap-select.js"></script>
    <script src="~/assets/plugins/moment/moment.min.js"></script>
    <script src="~/assets/dist/js/bootstrap-datetimepicker.js"></script>
    <script src="~/assets/dist/js/lobibox.js"></script>
    <script src="~/assets/dist/js/messageboxes.js"></script>
    <script src="~/assets/dist/js/notifications.js"></script>
    <script type="text/javascript" src="~/assets/plugins/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


</head>
@{ 
    var auth = User.Identity.IsAuthenticated ? "container-auth-bg" : "";
}
<body class="@auth" style="font-size:14px;">
    @await Html.PartialAsync("~/Views/Shared/_ScriptsPartial.cshtml")
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            var name = User.FindFirstValue(ClaimTypes.GivenName) + " " + User.FindFirstValue(ClaimTypes.Surname);
            name = User.FindFirstValue(ClaimTypes.Role) == "doctor" ? "Dr. " + name : name;
            var department = string.IsNullOrEmpty(User.FindFirstValue("DepartmentName")) ? "" : " / " + User.FindFirstValue("DepartmentName");
            var bannerName = name.NameToUpper() + department;
            var facilityName = User.FindFirstValue("FacilityName");
            //SOCKET
            var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));//
            var userFacility = int.Parse(User.FindFirstValue("Facility"));
            var _userFacility = User.FindFirstValue("Facility");
            var UserName = User.FindFirstValue(ClaimTypes.Surname) + " " + User.FindFirstValue(ClaimTypes.GivenName);
            string[] userName = User.FindFirstValue(ClaimTypes.GivenName).Split();
            //var GetFirstPatient = Model.FirstOrDefault();
            var UserInformation = new UserModel
            {
                UserID = userId,
                Level = User.FindFirstValue(ClaimTypes.Role),
                Facility = _userFacility,
                Firstname = userName[0],
                Middlename = userName.Length < 2 ? " " : userName[1],
                Lastname = User.FindFirstValue(ClaimTypes.Surname)
            };//
            <div class="header" style="background-color:#2F4054;padding:10px;">
                <div class="container">
                    <div class="fa-pull-left">
                        <span class="title-info">Welcome,</span> <span class="title-desc"> @bannerName </span>
                    </div>

                    <div class="fa-pull-right">
                        <span class="title-desc">@facilityName</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="header" style="background-color:#59ab91;padding:15px;">
                <div class="container">
                    <img src="~/assets/dist/img/ReferralBanner.png" class="img-responsive" />
                </div>
            </div>
            <nav class="navbar navbar-expand-md navbar-light navbar-white custom-nav">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                        @if (User.FindFirstValue(ClaimTypes.Role).Equals("doctor"))
                        {
                            <partial name="~/Views/Shared/Navbar/_DoctorNavbarPartial.cshtml" />
                        }
                        else if (User.FindFirstValue(ClaimTypes.Role).Equals("admin"))
                        {
                            <partial name="~/Views/Shared/Navbar/_AdminNavbarPartial.cshtml" />
                        }
                        else if (User.FindFirstValue(ClaimTypes.Role).Equals("support"))
                        {
                            <partial name="~/Views/Shared/Navbar/_SupportNavbarPartial.cshtml" />
                        }
                        else if (User.FindFirstValue(ClaimTypes.Role).Equals("mcc"))
                        {
                            <partial name="~/Views/Shared/Navbar/_MccNavbarPartial.cshtml" />
                        }
                        else if (User.FindFirstValue(ClaimTypes.Role).Equals("eoc"))
                        {
                            <partial name="~/Views/Shared/Navbar/_EocNavbarPartial.cshtml" />
                        }
                    </div>
                </div>
            </nav>
        }
    </header>
    <!-- MODALS -->
    <div id="all_modals">
        <div class="modal fade" id="small_modal">
            <div class="modal-dialog modal-sm" role="dialog" id="small_content">
                <div class="overlay d-flex justify-content-center align-items-center">
                    <i class="fas fa-2x fa-sync fa-spin"></i>
                </div>
                <div class="modal-content">
                    <div class="modal-header">
                        <br />
                    </div>
                    <div class="modal-body">
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="large_modal">
            <div class="modal-dialog modal-lg" role="dialog" id="large_content">
                <div class="overlay d-flex justify-content-center align-items-center">
                    <i class="fas fa-2x fa-sync fa-spin"></i>
                </div>
                <div class="modal-content">
                    <div class="modal-header">
                        <br />
                    </div>
                    <div class="modal-body">
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="xlarge_modal">
            <div class="modal-dialog modal-xl" role="dialog" id="xlarge_content">
                <div class="overlay d-flex justify-content-center align-items-center">
                    <i class="fas fa-2x fa-sync fa-spin"></i>
                </div>
                <div class="modal-content">
                    <div class="modal-header">
                        <br />
                    </div>
                    <div class="modal-body">
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="login-status-modal" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <fieldset>
                        <legend>
                            <i class="fa fa-user-md"></i>
                            &nbsp;SELECT OPTION
                        </legend>
                    </fieldset>
                </div>
                <div class="modal-body">
                    <button id="btn-on-duty" type="button" class="btn btn-success col-sm-5" style="width: 50% !important;">
                        <i class="fa-5x fa fa-user-md"></i>
                        <br>
                        ON DUTY
                    </button>
                    <button id="btn-off-duty" type="button" class="btn btn-default col-sm-5" style="width: 50% !important;">
                        <i class="fa-5x fa fa-user-md"></i>
                        <br>
                        OFF DUTY
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODALS -->

    @*<div id="modal-placeholders"></div>*@

    <!-- CALL REQUEST ALERT MODAL -->
    <div class="modal fade" id="call-alert-modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>
                        REQUEST SENT
                    </h4>
                </div>
                <div class="modal-body justify-content-center">
                    <span class="text-success">
                        A call request has been sent to the referring facility!
                    </span>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-default">
                        <i class="fa fa-times"></i>&nbsp;
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- REDIRECT ALERT MODAL -->
    <div class="modal fade" id="redirect-alert-modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body" style="align-content:center;">
                    <h5 class="text-danger">
                        Are you sure you want to recommend to redirect to other facility?
                    </h5>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-default">
                        <i class="fa fa-times"></i>&nbsp;
                        No
                    </button>
                    <button id="redirect-yes" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#redirect-modal">
                        <i class="far fa-trash-alt"></i>&nbsp;
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODALS -->
    <div class="modal fade" id="small_modal">
        <div class="modal-dialog modal-sm" role="dialog" id="small_content">
            <div class="overlay d-flex justify-content-center align-items-center">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <br />
                </div>
                <div class="modal-body">
                    <br />
                    <br />
                    <br />
                </div>
                <div class="modal-footer">
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="large_modal">
        <div class="modal-dialog modal-lg" role="dialog" id="large_content">
            <div class="overlay d-flex justify-content-center align-items-center">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <br />
                </div>
                <div class="modal-body">
                    <br />
                    <br />
                    <br />
                </div>
                <div class="modal-footer">
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="xlarge_modal">
        <div class="modal-dialog modal-xl" role="dialog" id="xlarge_content">
            <div class="overlay d-flex justify-content-center align-items-center">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <br />
                </div>
                <div class="modal-body">
                    <br />
                    <br />
                    <br />
                </div>
                <div class="modal-footer">
                    <br />
                </div>
            </div>
        </div>
    </div>
    </div>



    <!-- INTRO MODAL -->
    <!-- END INTRO MODAL -->

    @await Html.PartialAsync("~/Views/Shared/_LoginModal.cshtml")
    <partial name="~/Views/Shared/_IntroModal.cshtml" />


    @{
        var login = User.Identity.IsAuthenticated ? "" : "login-page";
    }
    <!-- MODAL END -->
    <div class="container set-height @login">
        <!--<partial name="_CookieConsentPartial" />-->

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <footer class="referral-footer">
            <p class="text-center">All Rights Reserved 2020 | Version 2.1</p>
        </footer>
    }
    <script src="~/js/socket.js"></script>
    <script type="text/javascript">
        @*Initialize("@Constants.Server_Link");//*@
        //ChangePasswordSuccess
        if (sessionStorage.getItem('onReload') == 'passWordChanged') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "Change Password Success!");
        }
        else if (sessionStorage.getItem('onReload') == 'addDoctor') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "Doctor added successfully!");
        }
        else if (sessionStorage.getItem('onReload') == 'updateDoctor') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "Doctor updated successfully!");
        }
        else if (sessionStorage.getItem('onReload') == 'addSupport') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "IT Support added successfully!");
        }
        else if (sessionStorage.getItem('onReload') == 'updateSupport') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "IT Support updated successfully!");
        }
        else if (sessionStorage.getItem('onReload') == 'addFacility') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "New Facility added successfully!");
        }
        else if (sessionStorage.getItem('onReload') == 'updateFacility') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "Facility updated successfully!");
        }
        else if (sessionStorage.getItem('onReload') == 'removedFacility') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "Facility removed successfully!");
        }
        else if (sessionStorage.getItem('onReload') == 'updatedIssues') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "Issue updated successfully!");
        } 
        else if (sessionStorage.getItem('onReload') == 'update_inventory') {
            sessionStorage.setItem('onReload', '');
            Toast("success", "Issue updated successfully!");
        }
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
