@model PatientFormModel
@using Referral2.Models.MobileModels;
@using Newtonsoft.Json;
@{
    var dateReferred = Model.TimeReferred == default ? "" : Model.TimeReferred.GetDate("MMMM dd, yyyy hh:mm tt");
    var dateTransferred = Model.TimeTransferred == default ? "" : Model.TimeTransferred.GetDate("MMMM dd, yyyy hh:mm tt");

    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    var userFacility = int.Parse(User.FindFirstValue("Facility"));
    var _userFacility = User.FindFirstValue("Facility");
    var UserName = User.FindFirstValue(ClaimTypes.Surname) + " " + User.FindFirstValue(ClaimTypes.GivenName);
    string[] userName = User.FindFirstValue(ClaimTypes.GivenName).Split();

    var UserInformation = new UserModel
    {
        UserID = userId,
        Level = User.FindFirstValue(ClaimTypes.Role),
        Facility = _userFacility,
        Firstname = userName[0],
        Middlename = userName.Length < 2 ? " " : userName[1],
        Lastname = User.FindFirstValue(ClaimTypes.Surname)
    };


    // SEEN
    var Notification = new NotificationModel
    {
        PatientCode = Model.Code,
        TrackStatus = "seen",
        UpdatedAt = DateTime.Now,
    };
}

<div class="title-form">
    CENTRAL VISAYAS HEALTH REFERRAL SYSTEM<br />
    <small>
        Clinical Referral Form
    </small>
</div>
<div class="modal-body" id="normal-form-modal">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="6">Name of Referring Facility: <span>@Model.ReferringFacilityName</span></td>
            </tr>
            <tr>
                <td colspan="6">Facility Contact #: <span>@Model.ReferringFacilityContact</span></td>
            </tr>
            <tr>
                <td colspan="6">Address: <span>@Model.ReferringFacilityAddress</span></td>
            </tr>
            <tr>
                <td colspan="3">Referred to: <span>@Model.ReferredToName</span></td>
                <td colspan="3">Department: <span>@Model.Department</span></td>
            </tr>
            <tr>
                <td colspan="6">Address: <span>@Model.ReferredToAddress</span></td>
            </tr>
            <tr>
                <td colspan="3">
                    Date/Time Referred (ReCo):
                    <span>
                        @dateReferred
                    </span>
                </td>
                <td colspan="3">
                    Date/Time Transferred:
                    <span>
                        @dateTransferred
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Name of Patient:
                    <span>
                        @Model.PatientName.NameToUpper()
                    </span>
                </td>
                <td>
                    Age:
                    <span>
                        @Model.PatientDob.ComputeAge()
                    </span>
                </td>
                <td>
                    Sex:
                    <span>
                        @Model.PatientSex
                    </span>
                </td>
                <td>
                    Status:
                    <span>
                        @Model.PatientStatus
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Address:
                    <span>
                        @Model.PatientAddress
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    PhilHealth status:
                    <span>
                        @Model.PhicStatus
                    </span>
                </td>
                <td colspan="3">
                    PhilHealth #:
                    <span>
                        @Model.PhicId
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <small class="badge bg-red"> New</small> Covid Number: <span class="covid_number">@Model.CovidNumber</span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <small class="badge bg-red"> New</small> Clinical Status: <span class="clinical_status">@Model.ReferClinicalStatus</span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <small class="badge bg-red"> New</small> Surveillance Category: <span class="sur_category">@Model.ReferSurCategory</span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Case Summary (pertinent Hx/PE, including meds, labs, course etc.):
                    <br>
                    <span>
                        @Model.CaseSummary
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Summary of ReCo (pls. refer to ReCo Guide in Referring Patients Checklist):
                    <br>
                    <span>
                        @Model.RecoSummary
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Diagnosis/Impression:
                    <br>
                    <span>
                        @Model.Diagnosis
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Reason for referral:
                    <br>
                    <span>
                        @Model.Reason
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Name of referring MD/HCW:
                    <span>
                        @Model.ReferringMdName
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Contact # of referring MD/HCW:
                    <span>
                        @Model.ReferringMdContact
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Name of referred MD/HCW- Mobile Contact # (ReCo):
                    <span>
                        @Model.ReferredMdName
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src ="~/js/socket.js"><</script>

<script type="text/javascript">

    Initialize("@Constants.Server_Link");
    setTimeout(function () { SubmitUserInformation(@Html.Raw(JsonConvert.SerializeObject(UserInformation))); }, 200);
    setTimeout(function () { EnveloperPatientInformation(@Html.Raw(JsonConvert.SerializeObject(Notification))); }, 200);
</script>